<div fxLayout="column">
  <app-game-status [stage]="stage" [maxStage]="maxStage"></app-game-status>
</div>
<div fxLayout="column">
  <app-word [word]="word"></app-word>
</div>
<div fxLayout="row" fxLayout.lt-md="column" class="img-and-alpha-container">
  <div fxLayout="column" fxLayoutAlign="center flex-end" fxFlex="50">
    <app-hangman [imgSrc]="imgSrc"></app-hangman>
  </div>
  <div
    fxLayout="column"
    fxLayoutAlign="center flex-start"
    fxLayoutAlign.lt-md="center center"
    fxFlex="50"
  >
    <app-alphabet [letters]="letters" (letterSelected)="onLetterSelected($event)"></app-alphabet>
  </div>
</div>
<div *ngIf="loading" class="spinner-container">
  <app-spinner></app-spinner>
</div>
